#social_contact_area{
  overflow: hidden;
  h3{
    color: $txtColor;
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
  }
  ul{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 10px;
    li{
      width: 100%;
      max-width: 50px;
      display: inline-block;
      text-align: center;
      margin: 0% 2%;
      position: relative;
      a{
        padding: 5px;
        display: block;
        transition: all 0.5s;
        span{
          font-weight: 600;
          font-size: 10px;
          background-color: #1877F2;
          text-align: center;
          padding: 0px 5px;
          border-radius: 5px;
          color: #fff;
          display: block;
          position: absolute;
          top: 60px;
          left: -6px;
          transition: all 0.5s;
          opacity: 0;
          &::after{
            position: absolute;
            content:"";
            width: 10px;
            height: 10px;
            background-color: rgba(255, 0, 0, 0);
            border-bottom: 4px solid #1877F2;
            border-left: 4px solid #1877F2;
            transform: rotate(-45deg);
            left: 45%;
            bottom: -15%;
          }
        }
        &:hover {
          img{
            transform: scale(1.1);
          }
          span{
            top: -15px;
            opacity: 1;
          }
        }
        img{
          width: 100%;
          box-shadow: 2px 2px 5px 0px rgb(0 0 0 / 20%);
          border-radius: 100%;
          padding: 6px;
          transition: all 0.5s;
        }
        
      }
      &:nth-child(2){
        a{
          span{
            background-color: #CE1C91;
            left: -8px;
            &::after{
              border-color: #CE1C91;
            }
          }
        }
      }
      &:nth-child(3){
        a{
          span{
            background-color: #03A9F4;
            left: -2px;
            &::after{
              border-color: #03A9F4;
            }
          }
        }
      }
      &:nth-child(4){
        a{
          span{
            background-color: #29A71A;
            left: -9px;
            &::after{
              border-color: #29A71A;
            }
          }
        }
      }
      &:nth-child(5){
        a{
          span{
            background-color: #007AB9;
            left: -9px;
            &::after{
              border-color: #007AB9;
            }
          }
        }
      }
    }
  }
}